/* google fonts links */
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Varela+Round&display=swap');
/* google fonts links */

body {
    background-color: antiquewhite;
}

* {
    margin: 0;
    padding: 0;
}

/* navbar start */
nav {
    font-family: "Cedarville Cursive", cursive;
    font-weight: 1000;
    font-style: normal;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 10vh;
    background-color: black;
    color: white;

}

nav ul li {
    padding: 0 12px;
}

.brand img {
    width: 44px;
    padding: 0 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

/* navbar end */

/* home page start */

.container {
    min-height: 56vh;
    background-color: black;
    color: white;
    font-family: "Varela", sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background-image: url(bg.jpg);
    background-position: center;
    background-size: cover;
}



.songitemcontainer {
    margin-top: 44px;
}

.songItem {
    height: 50px;
    display: flex;
    background-color: white;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
}

.songItem img {
    width: 45px;
    height: 40px;
    margin: 23px;
    border-radius: 34px;
}

.timestamp {
    margin: 0 23px;
}

.timestamp i {
    cursor: pointer;
}

/* home page end */

/* bottom start */
.bottom {
    height: 20vh;
    position: sticky;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* gap: 10%; */
}

.icons {
    margin-top: 14px;
}

.icons i {
    cursor: pointer;
}

#myprogressbar {
    width: 80vw;
    cursor: pointer;
}

.songInfo {
    position: absolute;
    left: 10vw;
    font-family: "Varela", sans-serif;
    display: flex;
    align-items: center;
    padding-top: 2%;
}

.songInfo img {
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

/* bottom end */
/* 
@media only screen and (max-width: 800px) {
    body {
      background-color: lightblue;
    }
  } */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}